@{
    ViewData["Title"] = "Home";
}


<div class="container bootstrap snippets bootdeys" id="homeDiv">

    <!-- Create Reminder Modal -->
    <div class="modal fade" id="createReminderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a new Reminder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createReminderForm" data-bind="submit: $root.submitUserReminder">
                        <label for="reminderTitle">Reminder Title</label>
                        <input class="form-control" type="text" id="reminderTitle" required>

                        <label for="reminderDescription">Reminder Content</label>
                        <textarea class="form-control" type="text" id="reminderDescription" required></textarea>

                        <br />

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Reminder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- View List Items Modal -->
    <div class="modal fade" id="editListItemsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">List Items</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editListItemForm">
                        <div class="form-group">
                            <!-- ko foreach: userListItems -->
                            <label for="listItemValue">Item</label>
                            <div class="input-group">
                                <input class="form-control" id="listItemValue" data-bind="textInput: listItemValue" required />
                                <div class="input-group-btn">
                                    <button class="btn btn-secondary" data-bind="click: $root.deleteListItem">Remove</button>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <br />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Reminder Modal -->
    <div class="modal fade" id="editReminderModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Reminder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editReminderForm" data-bind="submit: $root.submitEditedUserReminder">
                        <label for="reminderTitle">Title</label>
                        <input class="form-control" type="text" id="editReminderTitle" data-bind="textInput: userRemindersObject().reminderTitle()" required />

                        <label for="reminderDescription">Description</label>
                        <textarea class="form-control" type="text" id="editReminderDescription" data-bind="textInput: userRemindersObject().reminderDescription()" required></textarea>

                        <br />

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h2>Welcome to your Home Page @ViewBag.Username</h2>
        <button type="submit" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#createReminderModal">Create a new Reminder</button>
    </div>

    <!-- Rest of Home Page HTML -->
    <br>
    <h3>Reminders</h3>
    <div class="noItemsDiv table-bordered" data-bind="visible: noReminders">
        <h3 class="noRemindersLabel">No Reminders Yet</h3>
    </div>
    <div class="row" id="reminders" data-bind="visible: remindersAvailable">
        <!-- ko foreach: userReminders -->
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                <div class="content">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editReminderModal" data-bind="click: $root.editReminder"><i class="fa fa-solid fa-pencil"></i></button>
                    <button type="button" class="btn btn-danger" data-bind="click: $parent.deleteReminder"><i class="fa fa-solid fa-trash"></i></button>
                    <h6 class="category">@ViewBag.Username</h6>
                    <h4 class="title" data-bind="text: reminderTitle"></h4>
                    <p style="white-space: pre-wrap" class="description" data-bind="text: reminderDescription"></p>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <br />
    <h3>Favorited Notes</h3>
    <div class="noFavNotesDiv" data-bind="visible: noFavNotes">
        <h3>No Favorited Notes Yet</h3>
    </div>
    <div class="row" id="notes">
        <!-- ko foreach: favoritedNotes -->
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                <div class="content">
                    <button type="button" class="btn btn-success" data-bind="click: $parent.unfavoriteNote"><i class="fa fa-solid fa-heart"></i></button>
                    <h6 class="category">@ViewBag.Username</h6>
                    <h4 class="title" data-bind="text: noteTitle"></h4>
                    <p style="white-space: pre-wrap" class="description" data-bind="text: noteValue"></p>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <br />
    <h3>Favorited Lists</h3>
    <div class="noFavListsDiv" data-bind="visible: noFavLists">
        <h3>No Favorited Lists Yet</h3>
    </div>
    <div class="row" id="lists">
        <!-- ko foreach: favoritedLists -->
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                <div class="content">
                    <button type="button" class="btn btn-success" data-bind="click: $parent.unfavoriteList"><i class="fa fa-solid fa-heart"></i></button>
                    <h6 class="category">@ViewBag.Username</h6>
                    <h4 class="title" data-bind="text: listName"></h4>
                    <p style="white-space: pre-wrap" class="description" data-bind="text: listDescription"></p>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editListItemsModal" data-bind="click: $root.editListItems">Items</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <br />
    <h3>Favorited Events</h3>
    <div class="noFavEventsDiv" data-bind="visible: noFavEvents">
    <h3>No Favorited Events Yet</h3>
    </div>
    <div class="row" id="events">
        <!-- ko foreach: favoritedEvents -->
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card card-just-text" data-background="color" data-color="event" data-radius="none">
                <div class="content">
                    <button type="button" class="btn btn-success" data-bind="click: $parent.unfavoriteEvent"><i class="fa fa-solid fa-heart"></i></button>
                    <h6 class="category">@ViewBag.Username</h6>
                    <h4 class="title" data-bind="text: eventTitle"></h4>
                    <p style="white-space: pre-wrap" class="description" data-bind="text: eventDescription"></p>
                    <p class="description" data-bind="text: eventStartTime"></p>
                    <p class="description">To</p>
                    <p class="description" data-bind="text: eventEndTime"></p>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <br />
    <br />
</div>

@section scripts {
    <script src="~/js/Reminder.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var reminderViewModel = new ReminderViewModel(@ViewBag.userID);
            ko.applyBindings(reminderViewModel, document.getElementById("homeDiv"));
            reminderViewModel.getFavoritedEvents();
            reminderViewModel.getFavoritedLists();
            reminderViewModel.getFavoritedNotes();
            reminderViewModel.getUserReminders();
        })
    </script>
}